.head {
    width: 100vw;
    min-height: 100vh;

    background-size: cover;
    background-position: center;
    background-image: url(../../assets/images/back_main.jpg);
    position: relative;

    &::before {
        content: 'JDM - GUNS: MACHINES TO NEVER FORGET';
        display: inline;

        position: absolute;
        right: 17.5%;
        bottom: 1%;

        font-family: 'Mohave';
        font-style: normal;
        font-weight: 700;
        font-size: 37px;
        line-height: 52px;

        color: #FFFFFF;
    }
}

.header_wrapper {
    width: 80%;
    margin: 0 auto;
    padding-top: 60px;
    position: relative;
    z-index: 3;
}

.nav_link {
    font-family: 'Mohave';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 52px;
    text-decoration: none;
    margin-right: 89px;

    color: #FFFFFF;

    &:last-child {
        margin-right: 0;
    }
}

.active {
    font-family: 'Mohave';
    font-weight: 700;

    color: #d50c0c;
}

.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}